:root {
  --background: #FDFDFD;
  --foreground: #171717;

  --primary-color: #FFD350;
  --secondary-color: #3A4CA8;
  --success-color: #CCF0EB;
  --warning-color: #F8F48D;
  --danger-color: #F0CCCC;
  --light-color: #FDFDFD;
  --gray-color: #E2E7F0;
  --dark-color: #2D3648;

  --text-white: #FDFDFD;
  --text-black: #171717;
  --text-gray: #C2C2C2;
  --text-primary-color: #FFD350;
  --text-secondary-color: #3A4CA8;
  --text-success-color: #00B69B;
  --text-warning-color: #B68500;
  --text-danger-color: #B62A00;

  --border-color: #adb5bd; //gray-500
  --border-gray-color: #495057; //gray-700
  --border-dark-color: #212529; //gray-900

  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
}