@import 'color';  // color.scss 파일을 임포트
@import 'font';  // font.scss 파일을 임포트
@import 'font-mixin';  // font.scss 파일을 임포트

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-end: 0;
	margin-inline-start: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	width: 100vw;
	height: 100vh;
}

body {
	min-width: 1000px;
	height: 100%;
	line-height: 1;
	display: flex;
	flex-direction: column;
	overflow-y: auto; /* 내용이 넘치면 스크롤이 생기도록 설정 */
}

.contentArea {
	flex-grow: 1; /* 남은 공간을 차지하도록 설정 */
	padding: 40px 120px;
}

ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
    all: unset;
	cursor: pointer;
}

a {
	text-decoration: none;
}

input:focus {
	outline: none;
}

select:focus {
	outline: none;
}